.App {
	margin: 0 auto;
	align-items: center;
	display: flex;
	flex-direction: column;
	padding:  0px 10px;
}
.container {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.columnButtons {
	height: 200px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}
.rowButtons {
	max-width: 600px;
	margin-top: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	justify-content: space-around;
	align-items: center;
    margin: 0 auto;	
}
.input-top {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}
.input-bottom {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}
.boardGame {
	padding-top: 50px;
	max-width: 1200px;
	margin: 0 auto;
}
.dashboard {
	font-size: 17px;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	align-content: stretch;
	width: 100%;
    max-width: 1120px;
    margin: 0 auto;	
}
.dashboardItems {
	max-width: 200px;
	text-align: center;
}
.bottomDashboard {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 50px;
	max-width: 600px;
	margin: 0 auto;
}
.clue {
	height: 100px;
	background:  #cccccc;
	justify-content:  center;
	align-items:  center;
	display:  flex;
	text-transform:  uppercase;
	font-weight: 500;
	font-size: 17px;
	cursor: pointer;
}
.selected {
	background: #f7f0de;
	cursor: default;
}
.blue {
	background: #0f80ff;
	color: #eee;
}
.red {
	background: #fd6666;
	color: #eee;
}
.assassin {
	background: #2d2d26;
	color: #eee;
}
.visible {
	font-weight: 700;
	cursor: default;
}
.visible-blue {
	background: #c5e0ff;
	color: #0f80ff;
}
.visible-red {
	background: #fdc5c5;
	color: #fd6666;
}
.visible-assassin {
	background: #525252;
	color: #eee;
}
.blueCount { 
	color: #0f80ff;
}
.redCount {
 color: #fd6666;
}
.currentTurn {
	text-transform: capitalize;
}
.shareLink {
	font-size: 16px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 40px;
}
.buyCoffeeHolder {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-end;
	align-content: center;
	padding: 8px 12px 8px 8px;
	line-height: 35px;
	height: 55px;
	background-color:#FF813F;
	border-radius: 5px;
	border: 1px solid transparent;
	font-size: 18px;
	letter-spacing:-0.08px;
	box-shadow: 0px 1px 2px;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 40px;
	width: 230px;
}
.buyCoffeeText {
	margin-left:5px;
	color:#ffffff;
}
.buyCoffeeImage {
	height: 34px;
	width: 35px;
	margin-bottom: 1px;
	box-shadow: none;
	border: none;
	vertical-align: middle;
}
.header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-top: 60px;
	margin-bottom: 40px;
	font-size: 40px;
	font-weight: 600;
}
.joinGameError {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	color: #d43030;
	margin-top: 25px;
}
.centerText {
	margin-top: 50px;
	margin-bottom: 25px;
	font-size: 25px;
	display: flex;
	justify-content: center;
	align-items: baseline;
	align-content: stretch;
}
.teams {
	max-width: 600px;
	font-size: 20px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	padding-bottom: 40px;
}
.blueTitle {
	color: #0f80ff;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	background: #f3f3f3;
}
.redTitle {
	color: #fd6666;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	background: #eaeaea;
}
.teamWins {
	color: black;
	padding-left: 30px;
}
.blueTeam {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	/*align-items: center;*/
	align-content: stretch;
	width: 50%;
}
.redTeam {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	/*align-items: center;*/
	align-content: stretch;
	width: 50%;
}
.teamUsers {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
.joinTeamButtons {
	/*height: 200px;*/
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	max-width: 600px;
	justify-content: center;
	padding-top: 40px;
}
#nameLobby {
	padding-top: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: stretch;
	margin: 0 auto;
}
.ui.middle.aligned.divided.list {
    padding-left: 5px;
}
.eight.wide.mobile.three.wide.tablet.three.wide.computer.column {
	padding: 2px;
}
.three.wide.column{
	padding: 2px !important;
}
.ui.grid.game {
    width: 100%;
    margin-top: 1rem;
}